In [186]:
import pandas as pd
import numpy as np
import missingno as msn
import matplotlib as plt
import seaborn as sns

In [256]:
# Open the excel file as an object
xlsfile = pd.ExcelFile('./Data-Sources/statics.xlsx')

In [257]:
#Create a function that takes in excel_file and sheet_name and returns the extracted dataframe
#Example usage df = Student_Extractor(xlsfile, 0)

def Student_Extractor(excel_file, index):
    #  Parse the file
    names = excel_file.sheet_names
    #print("All Sheet Names:", names)
    print("Parsing Sheet with name:", names[index])
    df = excel_file.parse(sheetname= names[index])
    
    #  Drop first 2 columns and 10 rows
    df_temp = df
    df_temp.drop(df_temp.columns[[0]], axis=1, inplace=True)
    df_temp.drop([0,1,2,3,4,5,6,7], axis=0, inplace=True)
    print("Dataframe" , index+1 , "cleaned !")
    
    #  Rename the columns
    column_name = ['Student_Nmuber', 'Student_Name', 'First_Exam', 'Second_Exam', 'Final_1', 'Final_2', 'Total_Grade', 'Teacher_Name', 'Teacher_Number', 'Subject', 'Subject_Id', 'Section', 'Year']
    df_temp.columns = column_name
    
    #  Return the Data Frame
    return df_temp





def Student_Extractor1(excel_file, index):
    #  Parse the file
    names = excel_file.sheet_names
    print("Parsing Sheet with name:", names[index])
    df = excel_file.parse(sheetname= names[index])
    
    #  Drop first 2 columns and 10 rows
    df_temp = df
    print("Dataframe" , index+1 , "cleaned !")
    
    #  Rename the columns
    #column_name = ['Student_Nmuber', 'Student_Name', 'First_Exam', 'Second_Exam', 'Final_1', 'Final_2', 'Total_Grade', 'Teacher_Name', 'Teacher_Number', 'Subject', 'Subject_Id', 'Section', 'Year', '14']
    #df_temp.columns = column_name
    
    #  Return the Data Frame
    return df_temp

In [249]:
df1 = Student_Extractor(xlsfile, 0)
df1.head()

Parsing Sheet with name: 2014-2015-2
Dataframe 1 cleaned !

,Student_Nmuber,Student_Name,First_Exam,Second_Exam,Final_1,Final_2,Total_Grade,Teacher_Name,Teacher_Number,Subject,Subject_Id,Section,Year
8,11315606,M,13,11.5,32,10,67,T2,3119,ستاتيكا س.م:3,10601110,10601110/1,2014/2015
9,11340001,M,12,13,32,10,67,T2,3119,ستاتيكا س.م:3,10601110,10601110/1,2014/2015
10,11214246,M,19,12,23,6,60,T2,3119,ستاتيكا س.م:3,10601110,10601110/1,2014/2015
11,11210005,F,13,11.5,25,10,60,T2,3119,ستاتيكا س.م:3,10601110,10601110/1,2014/2015
12,11316153,M,15.5,9.5,42,10,77,T2,3119,ستاتيكا س.م:3,10601110,10601110/1,2014/2015

In [258]:
df2 = Student_Extractor1(xlsfile, 3)
df2.head()

Parsing Sheet with name: 2015-2016-1
Dataframe 4 cleaned !

,1,11316855,M,10.5,11,7,37,66,T3,3089,ستاتيكا س.م:3,10601110,10601110/1,2015/2016
0,2,11440560,M,8.5,15.000,8,32.0,64,T3,3089,ستاتيكا س.م:3,10601110,10601110/1,2015/2016
1,3,11317218,F,15.5,14.000,8,44.0,82,T3,3089,ستاتيكا س.م:3,10601110,10601110/1,2015/2016
2,4,11441111,M,5.0,0.001,5,9999.0,4,T3,3089,ستاتيكا س.م:3,10601110,10601110/1,2015/2016
3,5,11526306,M,10.5,12.000,9,44.0,76,T3,3089,ستاتيكا س.م:3,10601110,10601110/1,2015/2016
4,6,11315607,F,10.0,10.000,8,9999.0,4,T3,3089,ستاتيكا س.م:3,10601110,10601110/1,2015/2016

In [240]:
df3 = Student_Extractor1(xlsfile, 4)
df3.head()

Parsing Sheet with name: 215-216-1
Dataframe 5 cleaned !

,Student_Nmuber,Student_Name,First_Exam,Second_Exam,Final_1,Final_2,Total_Grade,Teacher_Name,Teacher_Number,Subject,Subject_Id,Section,Year,14
0,2,11420513,F,12.0,17.5,44.5,10.0,84,T2,3119,ستاتيكا س.م:3,10601110,10601110/2,2015/2016
1,3,11420480,M,19.5,19.5,43.0,10.0,92,T2,3119,ستاتيكا س.م:3,10601110,10601110/2,2015/2016
2,4,11440430,M,9.5,10.0,33.0,10.0,63,T2,3119,ستاتيكا س.م:3,10601110,10601110/2,2015/2016
3,5,11422665,M,9.5,6.5,25.0,10.0,51,T2,3119,ستاتيكا س.م:3,10601110,10601110/2,2015/2016
4,6,11419576,M,14.0,12.0,41.5,8.0,76,T2,3119,ستاتيكا س.م:3,10601110,10601110/2,2015/2016

In [62]:
#Drop first 2 columns
df1.drop(df1.columns[[0, 1]], axis=1, inplace=True)

NameError: name 'df1' is not defined

In [ ]:
df1.drop([0,1,2,3,4,5,6,7,8,9], axis=0, inplace=True)

In [ ]:
column_name = ['Student_Nmuber', 'Student_Name', 'First_Exam', 'Second_Exam', 'Final_1', 'Final_2', 'Total_Grade', 'Teacher_Name', 'Teachr_Number', 'Subject', 'Subject_Id', 'Section', 'Year' ]
df1.columns = column_name

In [ ]:
df1[:12]