In [51]:
import pandas as pd
import numpy as np
import missingno as msn
import matplotlib as plt
import seaborn as sns

In [52]:
# Open the excel file as an object
xlsfile = pd.ExcelFile('./Data-Sources/statics.xlsx')

# Data Collection

In [53]:
#Create a function that takes in excel_file and sheet_name and returns the extracted dataframe
#Example usage df = Student_Extractor(xlsfile, 1)

def Student_Extractor(excel_file, index):
    #  Parse the file
    names = excel_file.sheet_names
    #print("All Sheet Names:", names)
    print("Parsing Sheet with name:", names[index-1])
    df = excel_file.parse(sheetname= names[index-1])
    
    #  Drop first 2 columns and 10 rows
    df_temp = df
    df_temp.drop(df_temp.columns[[0]], axis=1, inplace=True)
    df_temp.drop([0,1,2,3,4,5,6,7], axis=0, inplace=True)
    print("Dataframe" , index , "cleaned !")
    
    #  Rename the columns
    column_name = ['Student_Number', 'Student_Gender', 'First_Exam', 'Second_Exam', 'Final_1', 'Final_2', 'Total_Grade', 'Teacher_Name', 'Teacher_Number', 'Subject', 'Subject_Id', 'Section', 'Year']
    df_temp.columns = column_name
    
    #  Return the Data Frame
    return df_temp

In [54]:
def Student_Extractor1(excel_file, index):
    #  Parse the file
    names = excel_file.sheet_names
    print("Parsing Sheet with name:", names[index-1])
    df = excel_file.parse(sheetname= names[index-1])
    
    #  Drop first 2 columns and 10 rows
    df_temp = df
    df_temp.drop(df_temp.columns[[0]], axis=1, inplace=True)

    print("Dataframe" , index , "cleaned !")
    
    #  Rename the columns
    column_name = ['Student_Number', 'Student_Gender', 'First_Exam', 'Second_Exam', 'Final_1', 'Final_2', 'Total_Grade', 'Teacher_Name', 'Teacher_Number', 'Subject', 'Subject_Id', 'Section', 'Year']
    df_temp.columns = column_name
    
    #  Return the Data Frame
    return df_temp

In [55]:
def Student_Extractor_Extra_Field(excel_file, index):
    #  Parse the file
    names = excel_file.sheet_names
    print("Parsing Sheet with name:", names[index-1])
    df = excel_file.parse(sheetname= names[index-1])
    
    #  Drop first 2 columns and 10 rows
    df_temp = df
    df_temp.drop(df_temp.columns[[0]], axis=1, inplace=True)

    print("Dataframe" , index , "retrieved !")
    
    #  Rename the columns
    column_name = ['Student_Number', 'Student_Gender', 'First_Exam', 'Second_Exam', 'Project', 'Final_1', 'Final_2', 'Total_Grade', 'Teacher_Name', 'Teacher_Number', 'Subject', 'Subject_Id', 'Section', 'Year']
    df_temp.columns = column_name
    
    #  Return the Data Frame
    return df_temp

In [56]:
df1 = Student_Extractor(xlsfile, 1)
df2 = Student_Extractor_Extra_Field(xlsfile, 2)
df3 = Student_Extractor_Extra_Field(xlsfile, 3)
df4 = Student_Extractor1(xlsfile, 4)
df5 = Student_Extractor1(xlsfile, 5)
df6 = Student_Extractor1(xlsfile, 6)
df7 = Student_Extractor1(xlsfile, 7)
df8 = Student_Extractor1(xlsfile, 8)
df9 = Student_Extractor1(xlsfile, 9)
df10 = Student_Extractor1(xlsfile, 10)
df11 = Student_Extractor1(xlsfile, 11)

df1.head()

Parsing Sheet with name: 2014-2015-2
Dataframe 1 cleaned !
Parsing Sheet with name: 2015-2016-2
Dataframe 2 cleaned !
Parsing Sheet with name: 215-216-2
Dataframe 3 cleaned !
Parsing Sheet with name: 2015-2016-1
Dataframe 4 cleaned !
Parsing Sheet with name: 215-216-1
Dataframe 5 cleaned !
Parsing Sheet with name: sum215-216
Dataframe 6 cleaned !
Parsing Sheet with name: sum2015-2016
Dataframe 7 cleaned !
Parsing Sheet with name: 20162017-1
Dataframe 8 cleaned !
Parsing Sheet with name: 216-217-1
Dataframe 9 cleaned !
Parsing Sheet with name: 6016-2017-1-1
Dataframe 10 cleaned !
Parsing Sheet with name: 2016-2017-1-2
Dataframe 11 cleaned !

,Student_Number,Student_Gender,First_Exam,Second_Exam,Final_1,Final_2,Total_Grade,Teacher_Name,Teacher_Number,Subject,Subject_Id,Section,Year
8,11315606,M,13,11.5,32,10,67,T2,3119,ستاتيكا س.م:3,10601110,10601110/1,2014/2015
9,11340001,M,12,13,32,10,67,T2,3119,ستاتيكا س.م:3,10601110,10601110/1,2014/2015
10,11214246,M,19,12,23,6,60,T2,3119,ستاتيكا س.م:3,10601110,10601110/1,2014/2015
11,11210005,F,13,11.5,25,10,60,T2,3119,ستاتيكا س.م:3,10601110,10601110/1,2014/2015
12,11316153,M,15.5,9.5,42,10,77,T2,3119,ستاتيكا س.م:3,10601110,10601110/1,2014/2015

## Clean Data

In [42]:
def replace999_and_clean_total(dataframe): 
    dataframe = dataframe.replace(9999, 0)                                     #Didn't Attend
    dataframe['Total_Grade'] = dataframe['Total_Grade'].replace(4, 30)          #Withdrew
    return dataframe

In [43]:
df1  = replace999_and_clean_total(df1)
df4  = replace999_and_clean_total(df4)
df5  = replace999_and_clean_total(df5)
df6  = replace999_and_clean_total(df6)
df7  = replace999_and_clean_total(df7)
df8  = replace999_and_clean_total(df8)
df9  = replace999_and_clean_total(df9)
df10 = replace999_and_clean_total(df10)
df11 = replace999_and_clean_total(df11)

## Normalize Data

In [44]:
def normalize_grades(df, full1, full2, full3, full4, weight1, weight2, weight3, weight4):
    #First_Exam / full1 * weight1
    df['First_Exam']   = df['First_Exam']  / full1 * weight1
    df['Second_Exam']  = df['Second_Exam'] / full2 * weight2
    df['Final_1']      = df['Final_1']     / full3 * weight3
    df['Final_2']      = df['Final_2']     / full4 * weight4
    return df

In [45]:
df11.head()

,Student_Number,Student_Gender,First_Exam,Second_Exam,Final_1,Final_2,Total_Grade,Teacher_Name,Teacher_Number,Subject,Subject_Id,Section,Year
0,11524015,M,14.0,31.5,0.0,0.0,30,T2,3119,ستاتيكا س.م:3,10601110,10601110/5,2016/2017
1,11541289,F,8.0,35.0,0.0,0.0,30,T2,3119,ستاتيكا س.م:3,10601110,10601110/5,2016/2017
2,11526466,M,8.0,25.0,0.0,23.0,30,T2,3119,ستاتيكا س.م:3,10601110,10601110/5,2016/2017
3,11527291,M,12.0,26.5,13.5,14.0,35,T2,3119,ستاتيكا س.م:3,10601110,10601110/5,2016/2017
4,11542081,M,16.0,15.0,13.0,16.0,35,T2,3119,ستاتيكا س.م:3,10601110,10601110/5,2016/2017

In [46]:
df6  = normalize_grades(df6,   18,  90,  10,  50, 20, 20, 10, 50)
df7  = normalize_grades(df7,  100, 100,  10,  50, 20, 20, 10, 50)
df8  = normalize_grades(df8,  100, 100, 100, 100, 25, 25, 50, 25)
df9  = normalize_grades(df9,  100, 100, 100, 100,  5, 20, 45, 30)
df10 = normalize_grades(df10, 100, 100, 100, 100, 25, 25, 50, 25)
df11 = normalize_grades(df11, 100, 100, 100, 100, 25, 25, 50, 25)

In [47]:
df11[:10]

,Student_Number,Student_Gender,First_Exam,Second_Exam,Final_1,Final_2,Total_Grade,Teacher_Name,Teacher_Number,Subject,Subject_Id,Section,Year
0,11524015,M,3.50,7.875,0.00,0.000,30,T2,3119,ستاتيكا س.م:3,10601110,10601110/5,2016/2017
1,11541289,F,2.00,8.750,0.00,0.000,30,T2,3119,ستاتيكا س.م:3,10601110,10601110/5,2016/2017
2,11526466,M,2.00,6.250,0.00,5.750,30,T2,3119,ستاتيكا س.م:3,10601110,10601110/5,2016/2017
3,11527291,M,3.00,6.625,6.75,3.500,35,T2,3119,ستاتيكا س.م:3,10601110,10601110/5,2016/2017
4,11542081,M,4.00,3.750,6.50,4.000,35,T2,3119,ستاتيكا س.م:3,10601110,10601110/5,2016/2017
5,11524569,F,2.50,8.750,30.00,22.000,61,T2,3119,ستاتيكا س.م:3,10601110,10601110/5,2016/2017
6,11523450,M,12.00,15.375,28.00,16.500,60,T2,3119,ستاتيكا س.م:3,10601110,10601110/5,2016/2017
7,11422796,M,1.00,6.250,22.00,13.750,42,T2,3119,ستاتيكا س.م:3,10601110,10601110/5,2016/2017
8,11527240,M,3.25,9.375,34.00,8.750,52,T2,3119,ستاتيكا س.م:3,10601110,10601110/5,2016/2017
9,11524482,M,10.50,12.500,37.50,18.375,68,T2,3119,ستاتيكا س.م:3,10601110,10601110/5,2016/2017

# Combine Dataframes into 1 Dataframe for EDA

In [48]:
#df1.combine_first(df4)
frames = [df1, df4, df5, df6, df7, df8, df9 ,df10, df11]
df_all = pd.concat(frames)
df_all

,Student_Number,Student_Gender,First_Exam,Second_Exam,Final_1,Final_2,Total_Grade,Teacher_Name,Teacher_Number,Subject,Subject_Id,Section,Year
8,11315606,M,13.0000,11.5000,32.00,10.000,67,T2,3119,ستاتيكا س.م:3,10601110,10601110/1,2014/2015
9,11340001,M,12.0000,13.0000,32.00,10.000,67,T2,3119,ستاتيكا س.م:3,10601110,10601110/1,2014/2015
10,11214246,M,19.0000,12.0000,23.00,6.000,60,T2,3119,ستاتيكا س.م:3,10601110,10601110/1,2014/2015
11,11210005,F,13.0000,11.5000,25.00,10.000,60,T2,3119,ستاتيكا س.م:3,10601110,10601110/1,2014/2015
12,11316153,M,15.5000,9.5000,42.00,10.000,77,T2,3119,ستاتيكا س.م:3,10601110,10601110/1,2014/2015
13,11318150,F,15.0000,16.0000,27.00,5.000,63,T2,3119,ستاتيكا س.م:3,10601110,10601110/1,2014/2015
14,11316768,M,11.5000,15.5000,36.00,10.000,73,T2,3119,ستاتيكا س.م:3,10601110,10601110/1,2014/2015
15,11316643,F,14.0000,12.0000,28.00,10.000,64,T2,3119,ستاتيكا س.م:3,10601110,10601110/1,2014/2015
16,11106190,M,17.0000,8.5000,35.00,9.000,70,T2,3119,ستاتيكا س.م:3,10601110,10601110/1,2014/2015
17,11243865,M,9.5000,16.5000,36.00,10.000,72,T2,3119,ستاتيكا س.م:3,10601110,10601110/1,2014/2015
18,11315286,F,13.0000,13.0000,32.00,10.000,68,T2,3119,ستاتيكا س.م:3,10601110,10601110/1,2014/2015
19,11318425,F,8.5000,3.0000,0.00,5.000,30,T2,3119,ستاتيكا س.م:3,10601110,10601110/1,2014/2015
20,11314859,M,15.5000,13.0000,30.00,10.000,69,T2,3119,ستاتيكا س.م:3,10601110,10601110/1,2014/2015
21,11318098,M,12.5000,17.0000,33.00,10.000,73,T2,3119,ستاتيكا س.م:3,10601110,10601110/1,2014/2015
22,11344440,M,13.0000,16.5000,22.00,10.000,62,T2,3119,ستاتيكا س.م:3,10601110,10601110/1,2014/2015
23,11317104,F,11.5000,8.5000,22.00,10.000,52,T2,3119,ستاتيكا س.م:3,10601110,10601110/1,2014/2015
24,11344419,F,16.0000,13.5000,26.00,5.000,61,T2,3119,ستاتيكا س.م:3,10601110,10601110/1,2014/2015
25,11315328,F,16.0000,12.0000,29.00,10.000,67,T2,3119,ستاتيكا س.م:3,10601110,10601110/1,2014/2015
26,11318184,F,13.0000,13.0000,37.00,10.000,73,T2,3119,ستاتيكا س.م:3,10601110,10601110/1,2014/2015
27,11213842,F,13.0000,15.0000,28.00,10.000,66,T2,3119,ستاتيكا س.م:3,10601110,10601110/1,2014/2015
28,11419666,M,15.0000,18.0000,34.00,7.000,74,T2,3119,ستاتيكا س.م:3,10601110,10601110/1,2014/2015
29,11244058,M,7.0000,5.0000,14.00,5.000,35,T2,3119,ستاتيكا س.م:3,10601110,10601110/1,2014/2015
30,11318674,M,14.0000,12.0000,30.00,10.000,66,T2,3119,ستاتيكا س.م:3,10601110,10601110/1,2014/2015
31,11315359,F,11.0000,11.0000,28.00,10.000,60,T2,3119,ستاتيكا س.م:3,10601110,10601110/1,2014/2015
32,11317379,F,12.5000,8.5000,33.00,10.000,64,T2,3119,ستاتيكا س.م:3,10601110,10601110/1,2014/2015
33,11317025,M,7.0000,10.0000,0.00,5.000,30,T2,3119,ستاتيكا س.م:3,10601110,10601110/1,2014/2015
34,11421152,M,11.5000,4.0000,47.00,10.000,73,T2,3119,ستاتيكا س.م:3,10601110,10601110/1,2014/2015
35,11316727,M,9.5000,7.0000,16.00,7.000,40,T2,3119,ستاتيكا س.م:3,10601110,10601110/1,2014/2015
36,11243513,M,13.0000,8.0000,29.00,9.500,60,T2,3119,ستاتيكا س.م:3,10601110,10601110/1,2014/2015
37,11315747,M,14.5000,14.5000,35.00,10.000,74,T2,3119,ستاتيكا س.م:3,10601110,10601110/1,2014/2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9,11524482,M,10.5000,12.5000,37.50,18.375,68,T2,3119,ستاتيكا س.م:3,10601110,10601110/5,2016/2017
10,11523815,M,1.2500,4.7500,24.00,7.750,37,T2,3119,ستاتيكا س.م:3,10601110,10601110/5,2016/2017
11,11526598,F,11.2500,13.1250,37.00,25.000,75,T2,3119,ستاتيكا س.م:3,10601110,10601110/5,2016/2017
12,11344601,F,8.2500,11.0000,31.50,6.250,49,T2,3119,ستاتيكا س.م:3,10601110,10601110/5,2016/2017
13,11525653,M,3.7500,13.5000,28.00,18.250,60,T2,3119,ستاتيكا س.م:3,10601110,10601110/5,2016/2017
14,11527683,M,21.2500,10.6250,43.50,25.000,90,T2,3119,ستاتيكا س.م:3,10601110,10601110/5,2016/2017
15,11542138,F,0.7500,4.7500,10.50,7.500,35,T2,3119,ستاتيكا س.م:3,10601110,10601110/5,2016/2017
16,11542180,M,1.2500,9.3750,17.00,10.500,37,T2,3119,ستاتيكا س.م:3,10601110,10601110/5,2016/2017
17,11541687,M,10.5000,11.8750,28.00,20.250,60,T2,3119,ستاتيكا س.م:3,10601110,10601110/5,2016/2017
18,11541801,M,2.2500,6.8750,31.50,21.250,60,T2,3119,ستاتيكا س.م:3,10601110,10601110/5,2016/2017
19,11541307,M,2.7500,3.5000,10.00,13.000,35,T2,3119,ستاتيكا س.م:3,10601110,10601110/5,2016/2017
20,11541903,M,5.0000,6.8750,19.00,15.250,41,T2,3119,ستاتيكا س.م:3,10601110,10601110/5,2016/2017
21,11524744,M,3.7500,9.3750,15.00,10.750,35,T2,3119,ستاتيكا س.م:3,10601110,10601110/5,2016/2017
22,11525277,M,0.7500,5.3750,0.00,4.250,30,T2,3119,ستاتيكا س.م:3,10601110,10601110/5,2016/2017
23,11523776,M,1.5000,9.3750,22.50,15.000,47,T2,3119,ستاتيكا س.م:3,10601110,10601110/5,2016/2017
24,11243671,M,1.2500,11.0000,10.50,2.750,35,T2,3119,ستاتيكا س.م:3,10601110,10601110/5,2016/2017
25,11526076,F,1.2500,8.5000,26.75,13.250,49,T2,3119,ستاتيكا س.م:3,10601110,10601110/5,2016/2017
26,11541356,F,2.2500,3.5000,0.00,7.750,30,T2,3119,ستاتيكا س.م:3,10601110,10601110/5,2016/2017
27,11525681,F,3.5000,13.5000,23.50,10.000,47,T2,3119,ستاتيكا س.م:3,10601110,10601110/5,2016/2017
28,11524162,M,10.5000,19.1250,42.75,18.750,81,T2,3119,ستاتيكا س.م:3,10601110,10601110/5,2016/2017
29,11422489,M,0.0025,0.0025,0.00,0.000,35,T2,3119,ستاتيكا س.م:3,10601110,10601110/5,2016/2017
30,11542073,F,1.7500,8.5000,26.50,11.250,46,T2,3119,ستاتيكا س.م:3,10601110,10601110/5,2016/2017
31,11541826,M,3.2500,1.6250,24.25,16.125,44,T2,3119,ستاتيكا س.م:3,10601110,10601110/5,2016/2017
32,11525948,F,3.5000,11.2500,18.00,14.500,44,T2,3119,ستاتيكا س.م:3,10601110,10601110/5,2016/2017
33,11524418,F,0.7500,11.6250,17.00,17.500,46,T2,3119,ستاتيكا س.م:3,10601110,10601110/5,2016/2017
34,11541640,M,7.7500,3.1250,0.00,0.000,30,T2,3119,ستاتيكا س.م:3,10601110,10601110/5,2016/2017
35,11420194,F,0.0000,6.2500,32.50,21.000,60,T2,3119,ستاتيكا س.م:3,10601110,10601110/5,2016/2017
36,11523442,F,2.2500,6.6250,24.00,11.500,42,T2,3119,ستاتيكا س.م:3,10601110,10601110/5,2016/2017
37,11525782,M,7.5000,11.0000,0.00,0.000,30,T2,3119,ستاتيكا س.م:3,10601110,10601110/5,2016/2017
38,11525686,F,4.2500,11.2500,33.50,21.750,67,T2,3119,ستاتيكا س.م:3,10601110,10601110/5,2016/2017

In [49]:
df_all.describe()

,Student_Number,First_Exam,Second_Exam,Final_1,Final_2,Total_Grade,Teacher_Number,Subject_Id
count,3.790000e+02,379.000000,379.000000,379.000000,379.000000,379.000000,379.000000,379.0
mean,1.141435e+07,9.145420,9.911525,19.912005,18.716755,58.773087,2892.187335,10601110.0
std,1.153999e+05,5.936169,3.960410,12.980748,13.854150,17.246001,571.584977,0.0
min,1.100236e+07,0.000000,0.000200,0.000000,0.000000,30.000000,1411.000000,10601110.0
25%,1.131819e+07,3.250000,7.055556,9.000000,10.000000,44.000000,3102.000000,10601110.0
50%,1.142158e+07,10.000000,9.600000,19.000000,12.500000,60.000000,3116.000000,10601110.0
75%,1.152556e+07,14.000000,12.500000,31.500000,31.500000,71.500000,3119.000000,10601110.0
max,1.164302e+07,21.250000,20.000000,47.000000,50.000000,98.000000,3119.000000,10601110.0

# EDA